/* This project uses Cavepaint (MIT License) by Rex Riepe */
/* https://github.com/cavepaint/cavepaintCSS */
:root {
    --font-size-base: 18px;
    --font-size-mod: 1;
    --font-family: var(--sans-serif);
    --line-height: 1.8;
    --headline-base: 1em;
    --headline-mod: 1;
    --pad: 1rem;
    --padding: var(--pad);
    --margin: var(--pad);
    --gutter: calc(2 * var(--pad));
    --text-padding: 0.28em;
    --text-margin: var(--text-padding);
    --text-indent: var(--text-padding);
    --text-border-radius: var(--text-padding);
    --text-shadow: var(--box-shadow);
    --gap: var(--pad);
    --grid-columns: 12;
    --golden: 1.618;
    --h: 194.9;
    --s: 91.1%;
    --l: 97.1%;
    --a: 0.2;
    --border-width: 1px;
    --border-style: solid;
    --border-radius: 0.5em;
    --border-h: var(--h);
    --border-s: var(--s);
    --border-l: clamp(0%, calc(var(--l) * 0.85), 85%);
    --border-color: hsl(var(--border-h), var(--border-s), var(--border-l));
    --border: var(--border-width) var(--border-style) var(--border-color);
    --border-thin: calc(var(--border-width) / 2);
    --border-thick: calc(var(--border-width) * 2);
    --border-radius: var(--text-padding);
    --text-measure: 48;
    --text-width: calc(var(--text-measure) * 0.618rem);
    --card-width: calc(var(--text-width) * 0.618);
    --page-width: calc(var(--text-width) * 1.618);
    --feature-width: calc(var(--page-width) * 1.618);
    --box-shadow: var(--shadow-position) var(--shadow-position) var(--shadow-blur) var(--shadow-color);
    --shadow-position: 1px;
    --shadow-blur: 1px;
    --shadow-color: rgba(3, 26, 34, 0.2);
    --direction: 180deg;
    --warm: rgba(210.1, 99.4, 109.1, var(--a));
    --cool: rgba(11.3, 196.7, 198.7, var(--a));
    --neutral: rgba(38.1, 127.3, 190.4, var(--a));
    --dull: rgba(112, 112, 112, var(--a));
    --monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, "DejaVu Sans Mono", Courier, monospace;
    --serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "Droid Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    --sans-serif: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
    --ambient: #17bdf4;
    --white: #f1fbfe;
    --black: #031a22;
    --red: #d61923;
    --orange: #f4a70c;
    --yellow: #eaff17;
    --green: #28ab49;
    --teal: #2facae;
    --cyan: #0cf2f2;
    --blue: #324efa;
    --purple: #8d33ac;
    --magenta: #c227eb;
    --gray: #7b8386;
    --base-color: #1e7ec2;
    --complement: #ba6628;
    --accent: #1d31c5;
    --second-accent: #1dc3b7;
    --split: #ad23c5;
    --second-split: #2ac328;
    --triad: #5e23c5;
    --second-triad: var(--complement);
    --third-triad: #1dc369;
    --tetrad: #3723c5;
    --second-tetrad: #ba235d;
    --third-tetrad: #a0c328;
    --fourth-tetrad: #1dc390;
    --action: #1e7ec2;
    --reaction: #854b20;
    --info: var(--cyan);
    --warning: var(--orange);
    --success: var(--green);
    --failure: var(--red);
  }
  @media screen and (min-width: 1px) {
    :root {
      --pad: calc(0.6 * 1rem);
      --font-size: calc(var(--font-size-base) - 2px);
      --headline-base: 1em;
    }
  }
  @media screen and (min-width: calc(29.664rem + 2rem)) {
    :root {
      --pad: calc(0.8 * 1rem);
      --font-size: calc(var(--font-size-base) - 1px);
      --headline-base: 1.1em;
    }
  }
  @media screen and (min-width: calc(47.996352rem + 2rem)) {
    :root {
      --pad: 1rem;
      --font-size: var(--font-size-base);
      --headline-base: 1.2em;
    }
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(var(--font-size) * var(--font-size-mod));
  }
  *::before,
  *::after {
    box-sizing: inherit;
  }
  body {
    color: var(--black);
    background-color: var(--white);
    font-family: var(--font-family);
    line-height: var(--line-height);
    margin: 0;
    -webkit-overflow-scrolling: touch;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    letter-spacing: -0.025em;
    color: inherit;
    line-height: 1.5;
  }
  h1 *,
  h2 *,
  h3 *,
  h4 *,
  h5 *,
  h6 * {
    font-size: inherit;
  }
  h1 {
    font-size: calc((var(--headline-base) * var(--font-size-mod)) * 2.2);
  }
  h2 {
    font-size: calc((var(--headline-base) * var(--font-size-mod)) * 1.8);
  }
  h3 {
    font-size: calc((var(--headline-base) * var(--font-size-mod)) * 1.4);
  }
  h4 {
    font-size: calc((var(--headline-base) * var(--font-size-mod)) * 1.2);
  }
  h5 {
    font-size: calc((var(--headline-base) * var(--font-size-mod)) * 1.1);
  }
  h6 {
    font-size: calc((var(--headline-base) * var(--font-size-mod)) * 1);
  }
  p {
    margin-bottom: 1em;
    text-indent: var(--text-indent);
  }
  p:only-of-type {
    text-indent: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  nav {
    z-index: 99;
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
  em {
    display: inline;
    font-style: italic;
  }
  hr {
    border-color: hsl(var(--h), var(--s), var(--l)) !important;
  }
  fieldset {
    border: 0;
    outline: none;
  }
  input {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background: var(--white);
    color: var(--black);
    border: var(--border);
    line-height: var(--line-height);
    padding: var(--text-padding);
  }
  textarea {
    font-family: var(--font-family);
    line-height: var(--line-height);
    border: var(--border);
    margin-bottom: var(--margin);
    background: var(--white);
    color: var(--black);
    font-size: var(--font-size);
    padding: var(--text-padding);
    overflow: auto;
  }
  ul,
  ol {
    margin-left: var(--gutter);
    margin-bottom: var(--margin-bottom);
  }
  li {
    margin-bottom: var(--text-margin);
  }
  kbd {
    color: var(--white);
    border-radius: var(--border-radius);
    padding: var(--text-padding);
    white-space: nowrap;
  }
  pre,
  code {
    font-family: var(--monospace);
    margin-bottom: var(--margin);
    border-radius: var(--border-radius);
    overflow: hidden;
    padding: var(--text-padding);
    background: var(--black);
    color: var(--white);
  }
  pre.white-space,
  pre.word-break {
    white-space: pre-wrap;
  }
  pre > code {
    background: transparent;
    padding: 0;
  }
  .grid,
  .one-column,
  .two-column,
  .three-column,
  .four-column,
  .five-column,
  .six-column,
  .seven-column,
  .eight-column,
  .nine-column,
  .ten-column,
  .eleven-column,
  .twelve-column {
    --grid-columns: 12;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  }
  .mobile,
  .tablet,
  .mobile.tablet,
  .desktop {
    grid-template-columns: minmax(0, 1fr);
  }
  @media screen and (min-width: 1px) {
    .mobile {
      grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    }
  }
  @media screen and (min-width: calc(29.664rem + 2rem)) {
    .mobile {
      --grid-columns: 1;
    }
  }
  @media screen and (max-width: calc(calc(29.664rem + 2rem) - 1px)) {
    .tablet {
      --grid-columns: 1;
    }
  }
  @media screen and (min-width: calc(29.664rem + 2rem)) {
    .tablet {
      grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    }
  }
  .mobile.tablet {
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  }
  @media screen and (min-width: calc(47.996352rem + 2rem)) {
    .mobile.tablet {
      --grid-columns: 1;
    }
  }
  @media screen and (min-width: calc(47.996352rem + 2rem)) {
    .desktop {
      grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    }
  }
  @media screen and (max-width: calc(calc(47.996352rem + 2rem) - 1px)) {
    .desktop {
      --grid-columns: 1;
    }
  }
  .one-column {
    --grid-columns: 1;
  }
  .two-column {
    --grid-columns: 2;
  }
  .three-column {
    --grid-columns: 3;
  }
  .four-column {
    --grid-columns: 4;
  }
  .five-column {
    --grid-columns: 5;
  }
  .six-column {
    --grid-columns: 6;
  }
  .seven-column {
    --grid-columns: 7;
  }
  .eight-column {
    --grid-columns: 8;
  }
  .nine-column {
    --grid-columns: 9;
  }
  .ten-column {
    --grid-columns: 10;
  }
  .eleven-column {
    --grid-columns: 11;
  }
  .twelve-column {
    --grid-columns: 12;
  }
  .grid-width-one {
    grid-column: auto / span 1;
  }
  .grid-width-two {
    grid-column: auto / span 2;
  }
  .grid-width-three {
    grid-column: auto / span 3;
  }
  .grid-width-four {
    grid-column: auto / span 4;
  }
  .grid-width-five {
    grid-column: auto / span 5;
  }
  .grid-width-six {
    grid-column: auto / span 6;
  }
  .grid-width-seven {
    grid-column: auto / span 7;
  }
  .grid-width-eight {
    grid-column: auto / span 8;
  }
  .grid-width-nine {
    grid-column: auto / span 9;
  }
  .grid-width-ten {
    grid-column: auto / span 10;
  }
  .grid-width-eleven {
    grid-column: auto / span 11;
  }
  .grid-width-twelve {
    grid-column: auto / span 12;
  }
  @media screen and (min-width: calc(29.664rem + 2rem)) {
    .grid.mobile > *,
    .one-column.mobile > *,
    .two-column.mobile > *,
    .three-column.mobile > *,
    .four-column.mobile > *,
    .five-column.mobile > *,
    .six-column.mobile > *,
    .seven-column.mobile > *,
    .eight-column.mobile > *,
    .nine-column.mobile > *,
    .ten-column.mobile > *,
    .eleven-column.mobile > *,
    .twelve-column.mobile > * {
      grid-column: auto / span 1;
    }
  }
  @media screen and (min-width: calc(47.996352rem + 2rem)) {
    .grid.mobile.tablet > *,
    .one-column.mobile.tablet > *,
    .two-column.mobile.tablet > *,
    .three-column.mobile.tablet > *,
    .four-column.mobile.tablet > *,
    .five-column.mobile.tablet > *,
    .six-column.mobile.tablet > *,
    .seven-column.mobile.tablet > *,
    .eight-column.mobile.tablet > *,
    .nine-column.mobile.tablet > *,
    .ten-column.mobile.tablet > *,
    .eleven-column.mobile.tablet > *,
    .twelve-column.mobile.tablet > * {
      grid-column: auto / span 1;
    }
  }
  @media screen and (max-width: calc(calc(29.664rem + 2rem) - 1px)) {
    .grid.tablet > *,
    .one-column.tablet > *,
    .two-column.tablet > *,
    .three-column.tablet > *,
    .four-column.tablet > *,
    .five-column.tablet > *,
    .six-column.tablet > *,
    .seven-column.tablet > *,
    .eight-column.tablet > *,
    .nine-column.tablet > *,
    .ten-column.tablet > *,
    .eleven-column.tablet > *,
    .twelve-column.tablet > * {
      grid-column: auto / span 1;
    }
  }
  @media screen and (max-width: calc(calc(47.996352rem + 2rem) - 1px)) {
    .grid.desktop > *,
    .one-column.desktop > *,
    .two-column.desktop > *,
    .three-column.desktop > *,
    .four-column.desktop > *,
    .five-column.desktop > *,
    .six-column.desktop > *,
    .seven-column.desktop > *,
    .eight-column.desktop > *,
    .nine-column.desktop > *,
    .ten-column.desktop > *,
    .eleven-column.desktop > *,
    .twelve-column.desktop > * {
      grid-column: auto / span 1;
    }
  }
  .two-column.golden {
    grid-template-columns: 1.618fr 1fr;
  }
  .two-column.golden.mobile,
  .two-column.golden.tablet,
  .two-column.golden.mobile.tablet,
  .two-column.golden.desktop {
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: 1px) {
    .two-column.golden.mobile {
      grid-template-columns: 1.618fr 1fr;
    }
  }
  @media screen and (min-width: calc(29.664rem + 2rem)) {
    .two-column.golden.mobile {
      grid-template-columns: 1fr;
    }
  }
  @media screen and (min-width: calc(29.664rem + 2rem)) {
    .two-column.golden.tablet {
      grid-template-columns: 1.618fr 1fr;
    }
  }
  @media screen and (max-width: calc(calc(47.996352rem + 2rem) - 1px)) {
    .two-column.golden.mobile.tablet {
      grid-template-columns: 1.618fr 1fr;
    }
  }
  @media screen and (min-width: calc(47.996352rem + 2rem)) {
    .two-column.golden.desktop {
      grid-template-columns: 1.618fr 1fr;
    }
  }
  .two-column.golden.reverse {
    grid-template-columns: 1fr 1.618fr;
  }
  .two-column.golden.reverse.mobile,
  .two-column.golden.reverse.tablet,
  .two-column.golden.reverse.mobile.tablet,
  .two-column.golden.reverse.desktop {
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: 1px) {
    .two-column.golden.reverse.mobile {
      grid-template-columns: 1fr 1.618fr;
    }
  }
  @media screen and (min-width: calc(29.664rem + 2rem)) {
    .two-column.golden.reverse.mobile {
      grid-template-columns: 1fr;
    }
  }
  @media screen and (min-width: calc(29.664rem + 2rem)) {
    .two-column.golden.reverse.tablet {
      grid-template-columns: 1fr 1.618fr;
    }
  }
  @media screen and (max-width: calc(calc(47.996352rem + 2rem) - 1px)) {
    .two-column.golden.reverse.mobile.tablet {
      grid-template-columns: 1fr 1.618fr;
    }
  }
  @media screen and (min-width: calc(47.996352rem + 2rem)) {
    .two-column.golden.reverse.desktop {
      grid-template-columns: 1fr 1.618fr;
    }
  }
  .button,
  button {
    display: inline;
    border-width: 0;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    position: relative;
    font-family: inherit;
    padding: var(--text-padding);
    color: inherit;
    background-color: inherit;
    line-height: 1.25;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    touch-action: manipulation;
    cursor: pointer;
    transform: scale(1);
    transition: scale 0.08s linear;
  }
  .button:active,
  button:active {
    transform: scale(0.96);
    box-shadow: unset;
  }
  .modal {
    max-width: none;
    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
  }
  .overlay {
    padding: 0;
    position: relative;
  }
  .overlay .top,
  .overlay .bottom,
  .overlay .left,
  .overlay .right {
    position: absolute;
    z-index: 10;
  }
  .overlay.stretch {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .bar {
    top: 0;
    right: 0;
    left: 0;
  }
  .bar.bottom {
    top: auto;
    bottom: 0;
  }
  .card {
    border-radius: var(--border-radius);
    padding: var(--padding);
    background: var(--white);
    color: var(--black);
    box-shadow: var(--box-shadow);
    max-width: var(--card-width);
  }
  .padding {
    padding: var(--padding);
  }
  .margin {
    margin: var(--margin);
  }
  .gutter {
    margin: var(--gutter);
  }
  .inner-gutter {
    padding: var(--gutter);
  }
  .text-padding {
    padding: var(--text-padding);
  }
  .text-margin {
    margin: var(--text-padding);
  }
  .padding-top {
    padding-top: var(--padding);
  }
  .padding-right {
    padding-right: var(--padding);
  }
  .padding-bottom {
    padding-bottom: var(--padding);
  }
  .padding-left {
    padding-left: var(--padding);
  }
  .margin-top {
    margin-top: var(--margin);
  }
  .margin-right {
    margin-right: var(--margin);
  }
  .margin-bottom {
    margin-bottom: var(--margin);
  }
  .margin-left {
    margin-left: var(--margin);
  }
  .gutter-top {
    margin-top: var(--gutter);
  }
  .gutter-right {
    margin-right: var(--gutter);
  }
  .gutter-bottom {
    margin-bottom: var(--gutter);
  }
  .gutter-left {
    margin-left: var(--gutter);
  }
  .inner-gutter-top {
    padding-top: var(--gutter);
  }
  .inner-gutter-right {
    padding-right: var(--gutter);
  }
  .inner-gutter-bottom {
    padding-bottom: var(--gutter);
  }
  .inner-gutter-left {
    padding-left: var(--gutter);
  }
  .text-padding-top {
    padding-top: var(--text-padding);
  }
  .text-padding-right {
    padding-right: var(--text-padding);
  }
  .text-padding-bottom {
    padding-bottom: var(--text-padding);
  }
  .text-padding-left {
    padding-left: var(--text-padding);
  }
  .text-margin-top {
    margin-top: var(--text-padding);
  }
  .text-margin-right {
    margin-right: var(--text-padding);
  }
  .text-margin-bottom {
    margin-bottom: var(--text-padding);
  }
  .text-margin-left {
    margin-left: var(--text-padding);
  }
  .text-border-radius,
  .text-rounded {
    border-radius: var(--text-padding);
  }
  .block {
    display: block;
  }
  .inline {
    display: inline;
  }
  .inline-all,
  .inline-all * {
    display: inline;
  }
  .inline-break::after {
    content: "\A";
    white-space: pre;
  }
  .initial {
    display: initial;
  }
  .table {
    display: table;
  }
  .flex {
    display: flex;
  }
  .inline-block {
    display: inline-block;
  }
  .static {
    position: static;
  }
  .absolute {
    position: absolute;
  }
  .relative {
    position: relative;
  }
  .float-right {
    float: right;
  }
  .float-left {
    float: left;
  }
  .margin-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .width-auto {
    width: auto;
  }
  .inset {
    box-shadow: inset var(--box-shadow);
  }
  .box-shadow,
  .shadow {
    box-shadow: var(--box-shadow);
  }
  .shallow {
    --shadow-position: 0.5px;
    --box-shadow: var(--shadow-position) var(--shadow-position) var(--shadow-blur) var(--shadow-color);
  }
  .deep {
    --shadow-position: 2px;
    --box-shadow: var(--shadow-position) var(--shadow-position) var(--shadow-blur) var(--shadow-color);
  }
  .full-height {
    min-height: 100%;
  }
  .full-height.force {
    height: 100%;
  }
  .viewport-height {
    min-height: 100vh;
  }
  .viewport-height.force {
    height: 100vh;
  }
  .golden-height {
    min-height: 62vh;
  }
  .golden-height.force {
    height: 62vh;
  }
  .overflow-scroll {
    overflow-y: auto;
  }
  .overflow-hidden {
    overflow: hidden;
  }
  .border {
    border: var(--border);
  }
  .border-top {
    border-top: var(--border);
  }
  .border-right {
    border-right: var(--border);
  }
  .border-bottom {
    border-bottom: var(--border);
  }
  .border-left {
    border-left: var(--border);
  }
  .border-radius,
  .rounded {
    border-radius: var(--border-radius);
  }
  .dashed {
    border-style: dashed;
  }
  .dotted {
    border-style: dotted;
  }
  .thick {
    border-width: var(--border-thick);
  }
  .thin {
    --border-l: clamp(0%, calc(var(--l) * 0.9), 85%);
    border-width: var(--border-thin);
  }
  .current-color {
    border-color: currentColor;
  }
  .fade {
    opacity: 0.65;
  }
  .monospace {
    font-family: var(--monospace);
  }
  .serif {
    font-family: var(--serif);
  }
  .sans-serif {
    font-family: var(--sans-serif);
  }
  .bold {
    font-weight: bold;
  }
  .italic {
    font-style: italic;
  }
  .all-caps {
    text-transform: uppercase;
  }
  .underline {
    text-decoration: underline;
  }
  .text-transparent {
    color: transparent;
  }
  .small {
    --font-size-mod: 0.9;
  }
  .medium {
    --font-size-mod: 1;
  }
  .big {
    --font-size-mod: 1.1;
  }
  .huge {
    --font-size-mod: 1.2;
  }
  @media screen and (min-width: calc(29.664rem + 2rem)) {
    .small {
      --font-size-mod: 0.9;
    }
    .medium {
      --font-size-mod: 1;
    }
    .big {
      --font-size-mod: 1.2;
    }
    .huge {
      --font-size-mod: 1.4;
    }
  }
  @media screen and (min-width: calc(47.996352rem + 2rem)) {
    .small {
      --font-size-mod: 0.9;
    }
    .medium {
      --font-size-mod: 1;
    }
    .big {
      --font-size-mod: 1.3;
    }
    .huge {
      --font-size-mod: 1.6;
    }
  }
  .vertical-center,
  .center-vertical {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
  }
  .container {
    max-width: var(--page-width);
    margin: var(--margin) auto;
    padding: var(--padding);
  }
  .text-trim {
    line-height: 1;
  }
  .text-crunch {
    line-height: calc(var(--line-height) * 0.65);
  }
  .text-align-center,
  .text-center {
    text-align: center;
  }
  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
  }
  .gap-padding {
    --gap: var(--padding);
  }
  .gap-margin {
    --gap: var(--margin);
  }
  .gap-gutter {
    --gap: var(--gutter);
  }
  .gap-border-width {
    --gap: var(--border-width);
  }
  .gap-text-padding,
  .gap-text-margin {
    --gap: var(--text-padding);
  }
  .text-color {
    color: hsl(var(--h), clamp(0%, var(--s), 90%), clamp(0%, var(--l), 40%)) !important;
    background-color: transparent !important;
  }
  .text-color.tint {
    color: hsl(var(--h), clamp(0%, var(--s), 90%), clamp(60%, var(--l), 100%)) !important;
    background-color: transparent !important;
  }
  .shade,
  .white,
  .light.red,
  .orange,
  .yellow,
  .green,
  .teal,
  .cyan,
  .light.blue,
  .light.magenta,
  .light.gray,
  .bright.gray,
  .light.base-color,
  .bright.base-color,
  .light.complement,
  .bright.complement,
  .second.accent,
  .light.split,
  .second.split,
  .third.triad,
  .third.tetrad,
  .fourth.tetrad,
  .light.second.triad,
  .bright.second.triad,
  .light.action,
  .bright.action,
  .light.primary,
  .bright.primary,
  .light.reaction,
  .bright.reaction,
  .light.secondary,
  .bright.secondary,
  .light.info,
  .warning,
  .success,
  .light.failure,
  .light.error {
    color: var(--black);
    background-color: hsl(var(--h), var(--s), var(--l));
    border-color: hsl(var(--border-h), var(--border-s), var(--border-l));
    --border-h: var(--h);
    --border-s: var(--s);
    --border-l: clamp(0%, calc(var(--l) * 0.75), 85%);
  }
  .tint,
  .black,
  .red,
  .dark.orange,
  .dim.orange,
  .dark.green,
  .dim.green,
  .dark.teal,
  .dim.teal,
  .dark.cyan,
  .blue,
  .purple,
  .magenta,
  .gray,
  .base-color,
  .complement,
  .accent,
  .dark.second.accent,
  .dim.second.accent,
  .split,
  .dark.second.split,
  .dim.second.split,
  .triad,
  .dark.third.triad,
  .dim.third.triad,
  .tetrad,
  .second.tetrad,
  .dark.third.tetrad,
  .dim.third.tetrad,
  .dark.fourth.tetrad,
  .dim.fourth.tetrad,
  .second.triad,
  .action,
  .primary,
  .reaction,
  .secondary,
  .info,
  .dark.warning,
  .dim.warning,
  .dark.success,
  .dim.success,
  .failure,
  .error {
    color: var(--white);
    background-color: hsl(var(--h), var(--s), var(--l));
    border-color: hsl(var(--border-h), var(--border-s), var(--border-l));
    --border-h: var(--h);
    --border-s: var(--s);
    --border-l: clamp(0%, calc(var(--l) * 0.75), 85%);
  }
  .transparent {
    background-color: transparent !important;
    color: inherit;
    border-color: inherit;
    --light: hsl(var(--h), var(--s), var(--l), 0.85);
    background-image: linear-gradient(var(--light), var(--light));
    color: var(--black);
  }
  .transparent.black,
  .transparent.dark {
    --dark: hsla(var(--h), var(--s), var(--l), 0.65);
    background-image: linear-gradient(var(--dark), var(--dark));
    color: var(--white) !important;
  }
  .gradient {
    background: linear-gradient(var(--direction), hsla(var(--h), var(--s), var(--l), 1) 0%, hsla(var(--h), var(--s), var(--l), 0) 100%);
  }
  .horizontal {
    --direction: 180deg;
  }
  .vertical {
    --direction: 90deg;
  }
  .bump {
    position: relative;
  }
  .bump.up {
    top: -2px;
  }
  .bump.down {
    top: 2px;
  }
  .bump.left {
    left: -2px;
  }
  .bump.right {
    right: initial;
    left: 2px;
  }
  .hidden {
    display: none !important;
  }
  .clearfix,
  .clear {
    clear: both;
  }
  .clearfix::after,
  .clear::after {
    display: block;
    clear: both;
    content: "";
  }
  .user-background {
    background-color: var(--white);
    color: var(--black);
  }
  @media (prefers-color-scheme: dark) {
    .user-background {
      background: var(--black);
      color: var(--white);
    }
  }
  .align-content {
    align-content: stretch;
  }
  .align-items {
    align-items: stretch;
  }
  .align-self {
    align-self: auto;
  }
  .flex {
    flex: 0 1 auto;
  }
  .flex-direction {
    flex-direction: column;
  }
  .justify-content {
    justify-content: center;
  }
  .list-style {
    list-style: disc inside none;
  }
  .list-style-type {
    list-style-type: disc;
  }
  .text-indent {
    text-indent: var(--text-indent);
  }
  .text-justify {
    text-justify: justify;
  }
  .text-overflow {
    text-overflow: ellipsis;
  }
  .text-shadow {
    text-shadow: var(--text-shadow);
  }
  .line-height {
    line-height: var(--line-height);
  }
  .vertical-align {
    vertical-align: middle;
  }
  .letter-spacing {
    letter-spacing: 0;
  }
  .word-spacing {
    word-spacing: normal;
  }
  .white-space {
    white-space: nowrap;
  }
  .word-break {
    word-break: break-all;
  }
  .word-wrap {
    word-wrap: break-word;
  }
  .transform {
    transform: none;
  }
  .transition {
    transition: all 0s ease 0s;
  }
  .display {
    display: block;
  }
  .position {
    position: absolute;
  }
  .top {
    top: 0;
  }
  .right {
    right: 0;
  }
  .bottom {
    bottom: 0;
  }
  .left {
    left: 0;
  }
  .float {
    float: left;
  }
  .clear {
    clear: both;
  }
  .z-index {
    z-index: 10;
  }
  .overflow {
    overflow: hidden;
  }
  .cursor,
  .pointer {
    cursor: pointer;
  }
  .placeholder {
    min-height: var(--pad);
  }
  .placeholder::after {
    content: " ";
  }
  .square::after,
  .one-to-one::after,
  .four-to-three::after,
  .sixteen-to-nine::after,
  .two-to-one::after {
    content: "";
    display: block;
    width: 0;
  }
  .square::after,
  .one-to-one::after {
    padding-top: 100%;
  }
  .four-to-three::after {
    padding-top: 75%;
  }
  .sixteen-to-nine::after {
    padding-top: 56.25%;
  }
  .two-to-one::after {
    padding-top: 50%;
  }
  .rem-width {
    width: 1rem;
  }
  .golden-width {
    max-width: calc(62% - var(--pad));
  }
  .golden-width.force {
    width: calc(62% - var(--pad));
  }
  .golden-width.switch {
    max-width: calc(38% - var(--pad));
  }
  .golden-width.switch.force {
    width: calc(38% - var(--pad));
  }
  .card-width {
    max-width: var(--card-width);
  }
  @media screen and (min-width: calc(29.664rem + 2rem)) {
    .text-width {
      max-width: var(--text-width);
    }
    .text-width.force {
      width: var(--text-width);
    }
  }
  .page-width {
    max-width: var(--page-width);
  }
  .page-width.force {
    width: var(--page-width);
  }
  .feature-width {
    max-width: calc(var(--page-width) * 1.6);
  }
  .feature-width.force {
    width: calc(var(--page-width) * 1.6);
  }
  .full-width {
    max-width: 100%;
  }
  .full-width.force {
    width: 100%;
  }
  .inner-card-width {
    padding-left: max(var(--pad), calc(50% - (var(--card-width) * 0.5)));
    padding-right: max(var(--pad), calc(50% - (var(--card-width) * 0.5)));
  }
  .inner-card-width.padding {
    padding-left: max(var(--pad), calc(50% - (var(--card-width) * 0.5) + var(--pad)));
    padding-right: max(var(--pad), calc(50% - (var(--card-width) * 0.5) + var(--pad)));
  }
  .inner-text-width {
    padding-left: calc(50% - (var(--text-width) * 0.5));
    padding-right: calc(50% - (var(--text-width) * 0.5));
  }
  .inner-text-width.padding {
    padding-left: max(var(--pad), calc(50% - (var(--text-width) * 0.5) + var(--pad)));
    padding-right: max(var(--pad), calc(50% - (var(--text-width) * 0.5) + var(--pad)));
  }
  .inner-page-width {
    padding-left: calc(50% - (var(--page-width) * 0.5));
    padding-right: calc(50% - (var(--page-width) * 0.5));
  }
  .inner-page-width.padding {
    padding-left: max(var(--pad), calc(50% - (var(--page-width) * 0.5) + var(--pad)));
    padding-right: max(var(--pad), calc(50% - (var(--page-width) * 0.5) + var(--pad)));
  }
  .inner-feature-width {
    padding-left: calc(50% - (var(--feature-width) * 0.5));
    padding-right: calc(50% - (var(--feature-width) * 0.5));
  }
  .inner-feature-width.padding {
    padding-left: max(var(--pad), calc(50% - (var(--feature-width) * 0.5) + var(--pad)));
    padding-right: max(var(--pad), calc(50% - (var(--feature-width) * 0.5) + var(--pad)));
  }
  .hide {
    display: none;
  }
  .hide.tablet {
    display: initial;
  }
  .hide.desktop {
    display: initial;
  }
  .hide.mobile {
    display: none;
  }
  @media screen and (min-width: calc(29.664rem + 2rem)) {
    .hide.mobile {
      display: initial;
    }
    .hide.tablet {
      display: none;
    }
  }
  @media screen and (min-width: calc(47.996352rem + 2rem)) {
    .hide.desktop {
      display: none;
    }
    .hide.mobile.tablet {
      display: initial;
    }
  }
  .fixed {
    position: fixed;
  }
  .fixed.tablet {
    position: initial;
  }
  .fixed.desktop {
    position: initial;
  }
  .fixed.mobile {
    position: fixed;
  }
  @media screen and (min-width: calc(29.664rem + 2rem)) {
    .fixed.mobile {
      position: initial;
    }
    .fixed.tablet {
      position: fixed;
    }
  }
  @media screen and (min-width: calc(47.996352rem + 2rem)) {
    .fixed.desktop {
      position: fixed;
    }
    .fixed.mobile.tablet {
      position: initial;
    }
  }
  .no-padding-top {
    padding-top: 0;
  }
  .no-padding-right {
    padding-right: 0;
  }
  .no-padding-bottom {
    padding-bottom: 0;
  }
  .no-padding-left {
    padding-left: 0;
  }
  .no-margin-top {
    margin-top: 0;
  }
  .no-margin-right {
    margin-right: 0;
  }
  .no-margin-bottom {
    margin-bottom: 0;
  }
  .no-margin-left {
    margin-left: 0;
  }
  .no-padding {
    padding: 0;
  }
  .no-margin,
  .no-gutter {
    margin: 0;
  }
  .no-margins {
    margin: 0;
  }
  .no-margins * {
    margin: 0;
  }
  .no-min-width {
    min-width: 0 !important;
  }
  .no-max-width {
    max-width: 0 !important;
  }
  .no-min-height {
    min-height: 0 !important;
  }
  .no-max-height {
    max-height: 0 !important;
  }
  .no-box-shadow {
    box-shadow: unset;
  }
  .no-text-shadow {
    text-shadow: unset;
  }
  .no-shadow,
  .no-shadows,
  .no-shadows *,
  .flatten,
  .flatten * {
    box-shadow: unset;
    text-shadow: unset;
  }
  .no-border-radius {
    border-radius: 0 !important;
  }
  .no-border,
  .no-borders,
  .no-borders * {
    border-width: 0 !important;
  }
  .no-border-top {
    border-top-width: 0 !important;
  }
  .no-border-right {
    border-right-width: 0 !important;
  }
  .no-border-bottom {
    border-bottom-width: 0 !important;
  }
  .no-border-left {
    border-left-width: 0 !important;
  }
  .no-background {
    background: transparent !important;
  }
  .no-bold {
    font-weight: normal;
  }
  .no-overflow,
  .no-overflow * {
    overflow: hidden;
  }
  .no-line-height {
    line-height: 1;
  }
  .no-text-indent {
    text-indent: 0;
  }
  .no-text,
  .no-text * {
    text-indent: -9999px;
    display: inline-block;
  }
  .no-text-align {
    text-align: initial;
  }
  .no-underline {
    text-decoration: none !important;
  }
  .no-underlines * {
    text-decoration: none !important;
  }
  .no-user-select {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .no-pointer-events {
    pointer-events: none;
  }
  .no-list-style {
    list-style-type: none;
    margin-left: 0;
  }
  .no-fade {
    opacity: 1;
  }
  .no-gap,
  .no-column-gap {
    gap: 0;
    column-gap: 0;
  }
  .white {
    --h: 194.9;
    --s: 91.1%;
    --l: 97.1%;
  }
  .light.white {
    --l: 100%;
  }
  .dark.white {
    --l: 77.1%;
  }
  .bright.white {
    --s: 0%;
    --l: 100%;
  }
  .dim.white {
    --s: 66.1%;
    --l: 87.1%;
  }
  .black {
    --h: 194.9;
    --s: 82.9%;
    --l: 7.3%;
  }
  .light.black {
    --l: 27.3%;
  }
  .dark.black {
    --l: 0%;
  }
  .bright.black {
    --s: 100%;
    --l: 17.3%;
  }
  .dim.black {
    --s: 0%;
    --l: 0%;
  }
  .red,
  .failure,
  .error {
    --h: 356.8;
    --s: 78.8%;
    --l: 46.9%;
  }
  .light.red,
  .light.failure,
  .light.error {
    --l: 66.9%;
  }
  .dark.red,
  .dark.failure,
  .dark.error {
    --l: 26.9%;
  }
  .bright.red,
  .bright.failure,
  .bright.error {
    --s: 100%;
    --l: 56.9%;
  }
  .dim.red,
  .dim.failure,
  .dim.error {
    --s: 53.8%;
    --l: 36.9%;
  }
  .orange,
  .warning {
    --h: 40.1;
    --s: 91.7%;
    --l: 50.2%;
  }
  .light.orange,
  .light.warning {
    --l: 70.2%;
  }
  .dark.orange,
  .dark.warning {
    --l: 30.2%;
  }
  .bright.orange,
  .bright.warning {
    --s: 100%;
    --l: 60.2%;
  }
  .dim.orange,
  .dim.warning {
    --s: 66.7%;
    --l: 40.2%;
  }
  .yellow {
    --h: 65.3;
    --s: 99.9%;
    --l: 54.4%;
  }
  .light.yellow {
    --l: 74.4%;
  }
  .dark.yellow {
    --l: 34.4%;
  }
  .bright.yellow {
    --s: 100%;
    --l: 64.4%;
  }
  .dim.yellow {
    --s: 74.9%;
    --l: 44.4%;
  }
  .green,
  .success {
    --h: 135.1;
    --s: 62.4%;
    --l: 41.3%;
  }
  .light.green,
  .light.success {
    --l: 61.3%;
  }
  .dark.green,
  .dark.success {
    --l: 21.3%;
  }
  .bright.green,
  .bright.success {
    --s: 87.4%;
    --l: 51.3%;
  }
  .dim.green,
  .dim.success {
    --s: 37.4%;
    --l: 31.3%;
  }
  .teal {
    --h: 180.9;
    --s: 57.5%;
    --l: 43.3%;
  }
  .light.teal {
    --l: 63.3%;
  }
  .dark.teal {
    --l: 23.3%;
  }
  .bright.teal {
    --s: 82.5%;
    --l: 53.3%;
  }
  .dim.teal {
    --s: 32.5%;
    --l: 33.3%;
  }
  .cyan {
    --h: 180.2;
    --s: 90.3%;
    --l: 50%;
  }
  .light.cyan {
    --l: 70%;
  }
  .dark.cyan {
    --l: 30%;
  }
  .bright.cyan {
    --s: 100%;
    --l: 60%;
  }
  .dim.cyan {
    --s: 65.3%;
    --l: 40%;
  }
  .blue,
  .info {
    --h: 231.7;
    --s: 95.7%;
    --l: 59%;
  }
  .light.blue,
  .light.info {
    --l: 79%;
  }
  .dark.blue,
  .dark.info {
    --l: 39%;
  }
  .bright.blue,
  .bright.info {
    --s: 100%;
    --l: 69%;
  }
  .dim.blue,
  .dim.info {
    --s: 70.7%;
    --l: 49%;
  }
  .purple {
    --h: 284.3;
    --s: 54.1%;
    --l: 43.9%;
  }
  .light.purple {
    --l: 63.9%;
  }
  .dark.purple {
    --l: 23.9%;
  }
  .bright.purple {
    --s: 79.1%;
    --l: 53.9%;
  }
  .dim.purple {
    --s: 29.1%;
    --l: 33.9%;
  }
  .magenta {
    --h: 287.5;
    --s: 82.7%;
    --l: 53.7%;
  }
  .light.magenta {
    --l: 73.7%;
  }
  .dark.magenta {
    --l: 33.7%;
  }
  .bright.magenta {
    --s: 100%;
    --l: 63.7%;
  }
  .dim.magenta {
    --s: 57.7%;
    --l: 43.7%;
  }
  .gray {
    --h: 194.9;
    --s: 4.3%;
    --l: 50.3%;
  }
  .light.gray {
    --l: 70.3%;
  }
  .dark.gray {
    --l: 30.3%;
  }
  .bright.gray {
    --s: 29.3%;
    --l: 60.3%;
  }
  .dim.gray {
    --s: 0%;
    --l: 40.3%;
  }
  .base-color,
  .action,
  .primary {
    --h: 204.9;
    --s: 73.2%;
    --l: 43.9%;
  }
  .light.base-color,
  .light.action,
  .light.primary {
    --l: 63.9%;
  }
  .dark.base-color,
  .dark.action,
  .dark.primary {
    --l: 23.9%;
  }
  .bright.base-color,
  .bright.action,
  .bright.primary {
    --s: 98.2%;
    --l: 53.9%;
  }
  .dim.base-color,
  .dim.action,
  .dim.primary {
    --s: 48.2%;
    --l: 33.9%;
  }
  .complement,
  .second.triad,
  .reaction,
  .secondary {
    --h: 25.3;
    --s: 64.4%;
    --l: 44.4%;
  }
  .light.complement,
  .light.second.triad,
  .light.reaction,
  .light.secondary {
    --l: 64.4%;
  }
  .dark.complement,
  .dark.second.triad,
  .dark.reaction,
  .dark.secondary {
    --l: 24.4%;
  }
  .bright.complement,
  .bright.second.triad,
  .bright.reaction,
  .bright.secondary {
    --s: 89.4%;
    --l: 54.4%;
  }
  .dim.complement,
  .dim.second.triad,
  .dim.reaction,
  .dim.secondary {
    --s: 39.4%;
    --l: 34.4%;
  }
  .accent {
    --h: 232.7;
    --s: 74.5%;
    --l: 44.2%;
  }
  .light.accent {
    --l: 64.2%;
  }
  .dark.accent {
    --l: 24.2%;
  }
  .bright.accent {
    --s: 99.5%;
    --l: 54.2%;
  }
  .dim.accent {
    --s: 49.5%;
    --l: 34.2%;
  }
  .second.accent {
    --h: 175.7;
    --s: 74.3%;
    --l: 44%;
  }
  .light.second.accent {
    --l: 64%;
  }
  .dark.second.accent {
    --l: 24%;
  }
  .bright.second.accent {
    --s: 99.3%;
    --l: 54%;
  }
  .dim.second.accent {
    --s: 49.3%;
    --l: 34%;
  }
  .split {
    --h: 291;
    --s: 69.5%;
    --l: 45.5%;
  }
  .light.split {
    --l: 65.5%;
  }
  .dark.split {
    --l: 25.5%;
  }
  .bright.split {
    --s: 94.5%;
    --l: 55.5%;
  }
  .dim.split {
    --s: 44.5%;
    --l: 35.5%;
  }
  .second.split {
    --h: 119.3;
    --s: 65.8%;
    --l: 46.2%;
  }
  .light.second.split {
    --l: 66.2%;
  }
  .dark.second.split {
    --l: 26.2%;
  }
  .bright.second.split {
    --s: 90.8%;
    --l: 56.2%;
  }
  .dim.second.split {
    --s: 40.8%;
    --l: 36.2%;
  }
  .triad {
    --h: 261.8;
    --s: 69.5%;
    --l: 45.5%;
  }
  .light.triad {
    --l: 65.5%;
  }
  .dark.triad {
    --l: 25.5%;
  }
  .bright.triad {
    --s: 94.5%;
    --l: 55.5%;
  }
  .dim.triad {
    --s: 44.5%;
    --l: 35.5%;
  }
  .third.triad {
    --h: 147.5;
    --s: 74.3%;
    --l: 44%;
  }
  .light.third.triad {
    --l: 64%;
  }
  .dark.third.triad {
    --l: 24%;
  }
  .bright.third.triad {
    --s: 99.3%;
    --l: 54%;
  }
  .dim.third.triad {
    --s: 49.3%;
    --l: 34%;
  }
  .tetrad {
    --h: 247.1;
    --s: 69.5%;
    --l: 45.5%;
  }
  .light.tetrad {
    --l: 65.5%;
  }
  .dark.tetrad {
    --l: 25.5%;
  }
  .bright.tetrad {
    --s: 94.5%;
    --l: 55.5%;
  }
  .dim.tetrad {
    --s: 44.5%;
    --l: 35.5%;
  }
  .second.tetrad {
    --h: 337.2;
    --s: 68%;
    --l: 43.4%;
  }
  .light.second.tetrad {
    --l: 63.4%;
  }
  .dark.second.tetrad {
    --l: 23.4%;
  }
  .bright.second.tetrad {
    --s: 93%;
    --l: 53.4%;
  }
  .dim.second.tetrad {
    --s: 43%;
    --l: 33.4%;
  }
  .third.tetrad {
    --h: 73.7;
    --s: 65.8%;
    --l: 46.2%;
  }
  .light.third.tetrad {
    --l: 66.2%;
  }
  .dark.third.tetrad {
    --l: 26.2%;
  }
  .bright.third.tetrad {
    --s: 90.8%;
    --l: 56.2%;
  }
  .dim.third.tetrad {
    --s: 40.8%;
    --l: 36.2%;
  }
  .fourth.tetrad {
    --h: 161.6;
    --s: 74.3%;
    --l: 44%;
  }
  .light.fourth.tetrad {
    --l: 64%;
  }
  .dark.fourth.tetrad {
    --l: 24%;
  }
  .bright.fourth.tetrad {
    --s: 99.3%;
    --l: 54%;
  }
  .dim.fourth.tetrad {
    --s: 49.3%;
    --l: 34%;
  }
  .warm {
    --a: 0.2;
    background-image: linear-gradient(rgba(210.1, 99.4, 109.1, var(--a)), rgba(210.1, 99.4, 109.1, var(--a)));
  }
  .cool {
    --a: 0.2;
    background-image: linear-gradient(rgba(11.3, 196.7, 198.7, var(--a)), rgba(11.3, 196.7, 198.7, var(--a)));
  }
  .neutral {
    --a: 0.2;
    background-image: linear-gradient(rgba(38.1, 127.3, 190.4, var(--a)), rgba(38.1, 127.3, 190.4, var(--a)));
  }
  .dull {
    --a: 0.2;
    background-image: linear-gradient(rgba(112, 112, 112, var(--a)), rgba(112, 112, 112, var(--a)));
  }
  
  .starfield {
    background-size: 67% 67%;
    position: relative;
  }
  .starfield,
  .starfield::before,
  .starfield::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 264.583 264.583'%3E%3Cg fill='rgb(242,253,255)'%3E%3Ccircle r='0.25' cx='45.612' cy='172.724'/%3E%3Ccircle cy='235.924' cx='31.255' r='0.25'/%3E%3Ccircle cy='128.556' cx='113.572' r='0.25'/%3E%3Ccircle r='0.25' cx='197.842' cy='254.697'/%3E%3Ccircle cy='157.71' cx='94.854' r='0.25'/%3E%3Ccircle r='0.25' cx='141.963' cy='175.094'/%3E%3Ccircle cy='178.193' cx='214.704' r='0.25'/%3E%3Ccircle r='0.25' cx='134.202' cy='215.447'/%3E%3Ccircle r='0.1675' cx='116.668' cy='185.215'/%3E%3Ccircle cy='240.201' cx='66.829' r='0.1675'/%3E%3Ccircle cy='256.307' cx='236.043' r='0.1675'/%3E%3Ccircle r='0.1675' cx='84.619' cy='112.833'/%3E%3Ccircle cy='203.831' cx='97.385' r='0.1675'/%3E%3Ccircle r='0.1675' cx='197.933' cy='174.753'/%3E%3Ccircle r='0.1675' cx='90.923' cy='134.086'/%3E%3Ccircle cy='241.022' cx='117.298' r='0.1675'/%3E%3Ccircle cy='261.087' cx='6.079' r='0.1675'/%3E%3Ccircle r='0.1675' cx='68.178' cy='144.116'/%3E%3Ccircle r='0.1675' cx='181.392' cy='124.04'/%3E%3Ccircle cy='131.263' cx='21.586' r='0.1675'/%3E%3Ccircle r='0.1675' cx='176.785' cy='233.587'/%3E%3Ccircle cy='142.264' cx='155.529' r='0.1675'/%3E%3Ccircle cy='150.324' cx='244.704' r='0.1675'/%3E%3Ccircle r='0.1675' cx='49.063' cy='199.257'/%3E%3Ccircle cy='141.205' cx='122.46' r='0.1675'/%3E%3Ccircle r='0.1675' cx='211.989' cy='203.784'/%3E%3Ccircle r='0.1675' cx='19.036' cy='188.331'/%3E%3Ccircle cy='153.654' cx='209.272' r='0.1675'/%3E%3Ccircle r='0.1675' cx='184.288' cy='170.351'/%3E%3Ccircle cy='260.942' cx='131.568' r='0.1675'/%3E%3Ccircle cy='182.812' cx='74.754' r='0.1675'/%3E%3Ccircle r='0.1675' cx='245.837' cy='213.648'/%3E%3Ccircle cy='172.045' cx='25.814' r='0.1'/%3E%3Ccircle cy='146.539' cx='94.501' r='0.1'/%3E%3Ccircle r='0.1' cx='9.311' cy='205.282'/%3E%3Ccircle r='0.1' cx='80.12' cy='170.083'/%3E%3Ccircle cy='130.812' cx='143.8' r='0.1'/%3E%3Ccircle r='0.1' cx='92.828' cy='234.159'/%3E%3Ccircle cy='220.296' cx='112.35' r='0.1'/%3E%3Ccircle cy='208.669' cx='180.841' r='0.1'/%3E%3Ccircle r='0.1' cx='155.433' cy='219.408'/%3E%3Ccircle r='0.1' cx='95.671' cy='191.307'/%3E%3Ccircle cy='229.514' cx='217.551' r='0.1'/%3E%3Ccircle r='0.1' cx='63.656' cy='256.76'/%3E%3Ccircle cy='181.458' cx='57.032' r='0.1'/%3E%3Ccircle cy='202.358' cx='122.151' r='0.1'/%3E%3Ccircle r='0.1' cx='133.948' cy='210.036'/%3E%3Ccircle cy='263.153' cx='34.498' r='0.1'/%3E%3Ccircle r='0.1' cx='69.088' cy='208.242'/%3E%3Ccircle r='0.1' cx='226.588' cy='159.729'/%3E%3Ccircle cy='221.534' cx='82.484' r='0.1'/%3E%3Ccircle r='0.1' cx='244.995' cy='194.964'/%3E%3Ccircle cy='153.109' cx='47.215' r='0.1'/%3E%3Ccircle cy='139.708' cx='235.212' r='0.1'/%3E%3Ccircle r='0.1' cx='204.881' cy='195.712'/%3E%3Ccircle r='0.1' cx='11.506' cy='226.921'/%3E%3Ccircle cy='141.409' cx='187.893' r='0.1'/%3E%3Ccircle cy='225.002' cx='48.61' r='0.1'/%3E%3Ccircle r='0.1' cx='105.404' cy='251.331'/%3E%3Ccircle cy='241.001' cx='157.261' r='0.1'/%3E%3Ccircle r='0.1' cx='60.655' cy='172.008'/%3E%3Ccircle r='0.1' cx='148.36' cy='228.5'/%3E%3Ccircle cy='218.639' cx='191.976' r='0.1'/%3E%3Ccircle r='0.1' cx='149.144' cy='248.038'/%3E%3Ccircle cy='175.131' cx='128.932' r='0.1'/%3E%3Ccircle cy='192.12' cx='136.992' r='0.1'/%3E%3Ccircle r='0.1' cx='136.224' cy='236.795'/%3E%3Ccircle cy='191.97' cx='224.861' r='0.1'/%3E%3Ccircle r='0.1' cx='236.248' cy='228.364'/%3E%3Ccircle r='0.1' cx='152.495' cy='188.758'/%3E%3Ccircle cy='205.389' cx='154.753' r='0.1'/%3E%3Ccircle cy='163.571' cx='113.758' r='0.1'/%3E%3Ccircle r='0.1' cx='87.406' cy='245.694'/%3E%3Ccircle r='0.1' cx='19.803' cy='154.819'/%3E%3Ccircle cy='157.71' cx='148.607' r='0.1'/%3E%3Ccircle r='0.1' cx='159.82' cy='176.401'/%3E%3Ccircle cy='170.82' cx='242.052' r='0.1'/%3E%3Ccircle cy='187.184' cx='176.96' r='0.1'/%3E%3Ccircle r='0.1' cx='133.489' cy='156.659'/%3E%3Ccircle r='0.1' cx='3.769' cy='162.293'/%3E%3Ccircle cy='186.464' cx='189.807' r='0.1'/%3E%3Ccircle cy='241.858' cx='44.986' r='0.1'/%3E%3Ccircle r='0.1' cx='25.486' cy='211.102'/%3E%3Ccircle cy='205.544' cx='72.942' r='0.1'/%3E%3Ccircle r='0.1' cx='200.384' cy='236.371'/%3E%3Ccircle r='0.1' cx='261.919' cy='137.301'/%3E%3Ccircle cy='249.547' cx='255.573' r='0.1'/%3E%3Ccircle r='0.1' cx='171.901' cy='160.304'/%3E%3Ccircle cy='240.963' cx='228.512' r='0.1'/%3E%3Ccircle cy='175.197' cx='93.493' r='0.1'/%3E%3Ccircle r='0.1' cx='171.342' cy='217.394'/%3E%3Ccircle cy='205.526' cx='224.586' r='0.1'/%3E%3Ccircle r='0.1' cx='255.413' cy='183.253'/%3E%3Ccircle r='0.1' cx='173.331' cy='200.335'/%3E%3Ccircle cy='258.517' cx='171.441' r='0.1'/%3E%3Ccircle cy='101.938' cx='146.532' r='0.25'/%3E%3Ccircle r='0.25' cx='238.566' cy='24.408'/%3E%3Ccircle r='0.25' cx='226.234' cy='113.619'/%3E%3Ccircle cy='31.082' cx='113.234' r='0.25'/%3E%3Ccircle r='0.25' cx='42.976' cy='99.2'/%3E%3Ccircle cy='26.107' cx='30.024' r='0.25'/%3E%3Ccircle r='0.25' cx='54.52' cy='59.313'/%3E%3Ccircle cy='52.13' cx='193.942' r='0.25'/%3E%3Ccircle cy='114.412' cx='12.329' r='0.1675'/%3E%3Ccircle r='0.1675' cx='83.175' cy='81.274'/%3E%3Ccircle r='0.1675' cx='160.179' cy='51.45'/%3E%3Ccircle cy='18.59' cx='6.466' r='0.1675'/%3E%3Ccircle r='0.1675' cx='183.856' cy='83.169'/%3E%3Ccircle cy='67.388' cx='113.866' r='0.1675'/%3E%3Ccircle cy='79.8' cx='26.221' r='0.1675'/%3E%3Ccircle r='0.1675' cx='215.685' cy='131.413'/%3E%3Ccircle r='0.1675' cx='261.073' cy='6.102'/%3E%3Ccircle cy='94.401' cx='110.725' r='0.1675'/%3E%3Ccircle cy='10.042' cx='133.727' r='0.1675'/%3E%3Ccircle r='0.1675' cx='207.31' cy='72.854'/%3E%3Ccircle cy='34.813' cx='76.093' r='0.1675'/%3E%3Ccircle r='0.1675' cx='224.393' cy='42.582'/%3E%3Ccircle r='0.1675' cx='107.186' cy='48.686'/%3E%3Ccircle cy='95.441' cx='215.485' r='0.1675'/%3E%3Ccircle r='0.1675' cx='141.621' cy='64.655'/%3E%3Ccircle cy='66.729' cx='236.092' r='0.1675'/%3E%3Ccircle cy='118.413' cx='245.962' r='0.1675'/%3E%3Ccircle r='0.1675' cx='197.973' cy='4.47'/%3E%3Ccircle cy='65.327' cx='10.667' r='0.1675'/%3E%3Ccircle r='0.1675' cx='169.076' cy='21.619'/%3E%3Ccircle r='0.1675' cx='243.684' cy='89.394'/%3E%3Ccircle cy='15.924' cx='90.642' r='0.1675'/%3E%3Ccircle r='0.1' cx='203.117' cy='25.203'/%3E%3Ccircle cy='18.679' cx='259.074' r='0.1'/%3E%3Ccircle r='0.1' cx='188.36' cy='105.076'/%3E%3Ccircle r='0.1' cx='32.082' cy='60.833'/%3E%3Ccircle cy='97.39' cx='88.918' r='0.1'/%3E%3Ccircle r='0.1' cx='52.106' cy='115.649'/%3E%3Ccircle cy='123.671' cx='158.843' r='0.1'/%3E%3Ccircle cy='149.977' cx='228.269' r='0.1'/%3E%3Ccircle r='0.1' cx='104.923' cy='106.209'/%3E%3Ccircle cy='28.098' cx='152.36' r='0.1'/%3E%3Ccircle r='0.1' cx='229.272' cy='175.956'/%3E%3Ccircle r='0.1' cx='197.598' cy='109.619'/%3E%3Ccircle cy='126.742' cx='199.934' r='0.1'/%3E%3Ccircle r='0.1' cx='165.89' cy='104.799'/%3E%3Ccircle cy='94.672' cx='203.759' r='0.1'/%3E%3Ccircle cy='87.856' cx='125.505' r='0.1'/%3E%3Ccircle r='0.1' cx='223.212' cy='79.49'/%3E%3Ccircle cy='4.333' cx='11.392' r='0.1'/%3E%3Ccircle r='0.1' cx='121.635' cy='104.136'/%3E%3Ccircle r='0.1' cx='132.905' cy='116.524'/%3E%3Ccircle cy='46.448' cx='90.707' r='0.1'/%3E%3Ccircle cy='97.177' cx='66.145' r='0.1'/%3E%3Ccircle r='0.1' cx='151.181' cy='83.93'/%3E%3Ccircle r='0.1' cx='45.908' cy='12.875'/%3E%3Ccircle cy='89.361' cx='170.02' r='0.1'/%3E%3Ccircle r='0.1' cx='36.048' cy='112.885'/%3E%3Ccircle cy='91.86' cx='1.643' r='0.1'/%3E%3Ccircle cy='73.334' cx='131.517' r='0.1'/%3E%3Ccircle r='0.1' cx='173.424' cy='79.168'/%3E%3Ccircle cy='8.253' cx='59.46' r='0.1'/%3E%3Ccircle r='0.1' cx='223.516' cy='23.397'/%3E%3Ccircle r='0.1' cx='249.224' cy='43.717'/%3E%3Ccircle cy='39.06' cx='201.492' r='0.1'/%3E%3Ccircle r='0.1' cx='112.002' cy='13.529'/%3E%3Ccircle cy='127.379' cx='169.217' r='0.1'/%3E%3Ccircle cy='67.963' cx='185.446' r='0.1'/%3E%3Ccircle r='0.1' cx='216.42' cy='117.416'/%3E%3Ccircle r='0.1' cx='179.959' cy='43.044'/%3E%3Ccircle cy='.312' cx='48.348' r='0.1'/%3E%3Ccircle cy='132.732' cx='42.913' r='0.1'/%3E%3Ccircle r='0.1' cx='142.119' cy='36.324'/%3E%3Ccircle cy='92.185' cx='229.232' r='0.1'/%3E%3Ccircle r='0.1' cx='98.773' cy='6.294'/%3E%3Ccircle r='0.1' cx='101.757' cy='81.974'/%3E%3Ccircle cy='38.611' cx='62.785' r='0.1'/%3E%3Ccircle cy='2.099' cx='158.208' r='0.1'/%3E%3Ccircle r='0.1' cx='121.572' cy='46.871'/%3E%3Ccircle r='0.1' cx='53.426' cy='79.029'/%3E%3Ccircle cy='46.765' cx='31.373' r='0.1'/%3E%3Ccircle r='0.1' cx='85.519' cy='66.355'/%3E%3Ccircle cy='46.981' cx='9.695' r='0.1'/%3E%3Ccircle cy='18.012' cx='186.147' r='0.1'/%3E%3Ccircle r='0.1' cx='212.447' cy='9.75'/%3E%3Ccircle cy='55.866' cx='252.928' r='0.1'/%3E%3Ccircle r='0.1' cx='73.34' cy='56.742'/%3E%3Ccircle r='0.1' cx='258.914' cy='165.121'/%3E%3Ccircle cy='79.112' cx='255.393' r='0.1'/%3E%3Ccircle r='0.1' cx='235.737' cy='9.162'/%3E%3Ccircle cy='60.581' cx='216.592' r='0.1'/%3E%3Ccircle cy='129.075' cx='77.036' r='0.1'/%3E%3Ccircle r='0.1' cx='243.825' cy='102.243'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: repeat;
  }
  .starfield::before {
    transform: rotateX(180deg);
  }
  .starfield::before {
    content: "";
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    pointer-events: none;
    z-index: -125;
  }
  
  #nav h1 {
    font-size: var(--font-size);
  }
  .feature {
    text-decoration: none;
    max-width: 100%;
    display: block;
    border: 0.15rem dashed #f2fdff;
  }
  .feature h1 {
    background: #061e23;
    color: #f2fdff;
  }
  @media screen and (min-width: 61.904rem) {
    .feature {
      border: 0.2rem dashed white;
    }
  }
  